<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 28px;
  }
</style>

<div class="message-content">
  <p>Olá, {{name}}</p>
  <p>Parece que você solicitou uma troca de senha...</p>
  <p>Se foi você mesmo, clique no link abaixo para trocar de senha:</p>
  <p>
    <a href="{{link}}">Trocar senha</a>
  </p>
  <p>Se não foi você, ignore essa mensagem</p>
  <p>
    Obrigado! <br>
    <strong>Equipe Gobarber || Octacilio Serafim</strong>
  </p>
</div>
